@charset "utf-8";
@import "normalize";
@import "prism.css";
@import "ghpages-materialize.css";



#nav-mobile {
  padding-left: 15px;
  width: 310px;
}

.row1heading {
  padding-left: 150px;
}

#row1 {
  background-color:#ee6e73;
 
  }

#row1 .container {
  
  position:relative}
  
#row1 .header {

  color:#FFF}
  
#row1 h4 {
  margin-bottom:40px}
  
#row1 h1 {
  color: white;
  font-size: 70px;
  margin-left:100px; 
  margin-top:16px}
  

  i {
    color: #ee6e73;
    
    
  }

.card {
  border-color: transparent;
  border-block-end-color: transparent;
}

#foot1 {
  padding-left: 100px;
  padding-top: 40px;
}



#pinkbutton {
  background-color:#f3989b;
  width:230px;
  height:50px;
  line-height:50px;
  font-size:18px;
  font-weight:400
  }

#pinkbutton:hover {
  background-color:#f5a5a8
  }

  #bluebutton {
  background-color:skyblue;
  width:330px;
  height:50px;
  line-height:50px;
  font-size:18px;
  font-weight:400
  }


  footer {
    min-height: 330px; 
    background-color:#f3989b;
  }